The following lines of code can be used to import Python Biogeme and estimate a simple model, using the sample Swiss Metro Dataset

In [1]:
import biogeme.database as db
import biogeme.biogeme as bio
import biogeme.models as models
from biogeme.expressions import Beta
import pandas as pd

/Users/tierrabills/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
data_file = "swissmetro_Lab1.dat"

In [5]:
# Prepare the data

df = pd.read_csv(data_file, '\t')
df

/Users/tierrabills/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,GROUP,SURVEY,SP,ID,PURPOSE,FIRST,TICKET,WHO,LUGGAGE,AGE,...,TRAIN_TT,TRAIN_CO,TRAIN_FR,SM_TT,SM_CO,SM_FR,SM_SEATS,CAR_TT,CAR_CO,CHOICE
0,2,0,1,1,1,0,1,1,0,3,...,112,48,120,63,52,20,0,117,65,2
1,2,0,1,1,1,0,1,1,0,3,...,103,48,30,60,49,10,0,117,84,2
2,2,0,1,1,1,0,1,1,0,3,...,130,48,60,67,58,30,0,117,52,2
3,2,0,1,1,1,0,1,1,0,3,...,103,40,30,63,52,20,0,72,52,2
4,2,0,1,1,1,0,1,1,0,3,...,130,36,60,63,42,20,0,90,84,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10723,3,1,1,1192,4,1,7,1,0,5,...,148,13,30,93,17,30,0,156,56,2
10724,3,1,1,1192,4,1,7,1,0,5,...,148,12,30,96,16,10,0,96,70,3
10725,3,1,1,1192,4,1,7,1,0,5,...,148,16,60,93,16,20,0,96,56,3
10726,3,1,1,1192,4,1,7,1,0,5,...,178,16,30,96,17,30,0,96,91,2
10727,3,1,1,1192,4,1,7,1,0,5,...,148,13,60,96,21,30,0,120,70,3

In [6]:
database = db.Database('SM_data', df)
globals().update(database.variables)

In [17]:
#Exclude some observations
exclude = ((PURPOSE != 1) *
           (PURPOSE != 3) +
           (CHOICE == 0)) >0
database.remove(exclude)

In [7]:
# Model Specification

# Parameters to be estimated
# Arguments:
#   - 1  Name for report; Typically, the same as the variable.
#   - 2  Starting value.
#   - 3  Lower bound.
#   - 4  Upper bound.
#   - 5  0: estimate the parameter, 1: keep it fixed.

ASC_CAR = Beta('ASC_CAR',0,None,None,0)
ASC_TRAIN = Beta('ASC_TRAIN',0,None,None,0)
ASC_SM = Beta('ASC_SM',0,None,None,0)
B_TIME = Beta('B_TIME',0,None,None,0)
B_COST = Beta('B_COST',0,None,None,0)

In [9]:
#Define new variables
SM_COST =  SM_CO*(GA == 0)
TRAIN_COST = TRAIN_CO*(GA == 0)

CAR_AV_SP = CAR_AV * (SP != 0)
TRAIN_AV_SP = TRAIN_AV * (SP != 0)

TRAIN_TT_SCALED = TRAIN_TT / 100.0
TRAIN_COST_SCALED = TRAIN_COST / 100
SM_TT_SCALED = SM_TT / 100.0
SM_COST_SCALED = SM_COST / 100
CAR_TT_SCALED = CAR_TT / 100
CAR_CO_SCALED = CAR_CO / 100

In [10]:
# Specification of utilities
V_transit = ASC_TRAIN + \
    B_TIME * TRAIN_TT_SCALED + \
    B_COST * TRAIN_COST_SCALED
V_swissMetro = ASC_SM + \
    B_TIME * SM_TT_SCALED + \
    B_COST * SM_COST_SCALED
V_car = ASC_CAR + \
    B_TIME * CAR_TT_SCALED + \
    B_COST * CAR_CO_SCALED

In [12]:
# Associate utility functions with the numbering of alternatives
V = {1: V_transit,
     2: V_swissMetro,
     3: V_car}

In [13]:
# Associate the availability conditions with the alternatives
av = {1: TRAIN_AV_SP,
      2: SM_AV,
      3: CAR_AV_SP}

In [14]:
# The choice model is a logit, with availability conditions
logprob = models.loglogit(V,av,CHOICE)

In [18]:
# Initialize Biogeme
biogeme = bio.BIOGEME(database,logprob)
biogeme.modelName = "01logit"

In [19]:
#Run Biogeme to estimate model and store results
results = biogeme.estimate()

[13:42:51] < Warning >   Cannot read file __01logit.iter. Statement is ignored.

In [20]:
pandasResults = results.getEstimatedParameters()
pandasResults

              Value  Rob. Std err  Rob. t-test  Rob. p-value
ASC_CAR    0.130621      0.022957     5.689785  1.271991e-08
ASC_SM     0.285305      0.044724     6.379258  1.779479e-10
ASC_TRAIN -0.415927      0.040884   -10.173294  0.000000e+00
B_COST    -1.083870      0.068228   -15.886084  0.000000e+00
B_TIME    -1.277819      0.104254   -12.256803  0.000000e+00

In [ ]:
print(results)

Results for model 01logit
Output file (HTML):			01logit.html
Nbr of parameters:		5
Sample size:			6768
Excluded data:			3960
Init log likelihood:		-6964.663
Final log likelihood:		-5331.252
Likelihood ratio test (init):		3266.822
Rho square (init):			0.235
Rho bar square (init):			0.234
Akaike Information Criterion:	10672.5
Bayesian Information Criterion:	10706.6
Final gradient norm:		0.03584456
ASC_CAR        : 0.131[0.0235 5.55 2.82e-08][0.023 5.69 1.27e-08]
ASC_SM         : 0.285[0.0291 9.8 0][0.0447 6.38 1.78e-10]
ASC_TRAIN      : -0.416[0.0306 -13.6 0][0.0409 -10.2 0]
B_COST         : -1.08[0.0518 -20.9 0][0.0682 -15.9 0]
B_TIME         : -1.28[0.0569 -22.5 0][0.104 -12.3 0]
('ASC_SM', 'ASC_CAR'):	-0.000234	-0.341	3.58	0.000347	-0.000428	-0.417	2.66	0.00783
('ASC_TRAIN', 'ASC_CAR'):	-0.00032	-0.445	-11.9	0	-9.92e-05	-0.106	-11.2	0
('ASC_TRAIN', 'ASC_SM'):	-0.000614	-0.69	-12.8	0	-0.00157	-0.86	-8.49	0
('B_COST', 'ASC_CAR'):	0.00032	0.263	-23.8	0	0.000296	0.189	-17.9	0
('B_COST', 'ASC_SM'):	-0.000164	-0.109	-22	0	0.000267	0.0876	-17.5	0
('B_COST', 'ASC_TRAIN'):	-0.000156	-0.0986	-10.7	0	-0.000563	-0.202	-7.74	1.02e-14
('B_TIME', 'ASC_CAR'):	-0.000207	-0.155	-21.7	0	-0.000682	-0.285	-12.5	0
('B_TIME', 'ASC_SM'):	0.00123	0.743	-38.8	0	0.00414	0.888	-23.1	0
('B_TIME', 'ASC_TRAIN'):	-0.00102	-0.589	-10.9	0	-0.00346	-0.812	-6.18	6.48e-10
('B_TIME', 'B_COST'):	0.00055	0.187	-2.79	0.00522	0.0022	0.309	-1.84	0.066